@use "../utils/vars";
@use "../utils/mixins";

.pizza-bar {
    @include mixins.flex(flex-start, center, row, wrap);
    gap: vars.$minGap;
}

.pizza-bar__button {
    font-size: 22px;
    width: 229px;
    padding: 19px 0;
    color: vars.$titleTextColor;
    background: linear-gradient(
        72deg,
        #210a01 0%,
        #210a01 50%,
        #ffa228 50%,
        #ff6432 75%,
        #ff6432 80%,
        #ffa228 100%
    );
    background-size: 210% 100%;
    font-weight: 500;
    border: none;

    @media (max-width: vars.$mediaMobile) {
        font-size: 14px;
        width: auto;
        padding: 12px 24px;
    }

    &:hover,
    &:focus-visible {
        @media (hover: none) {
            background-position: 0%;
            color: vars.$titleTextColor;
        }
    }
}

.pizza-bar__button--active {
    font-size: 20px;
    cursor: auto;
    background: linear-gradient(
        72deg,
        #ffa228 0%,
        #ff6432 25%,
        #ff6432 30%,
        #ffa228 50%,
        #210a01 50%,
        #210a01 100%
    );
    background-size: 210% 100%;

    @media (max-width: vars.$mediaMobile) {
        font-size: 14px;
    }

    &:hover,
    &:focus-visible {
        background-position: 0%;
        color: vars.$titleTextColor;

        @media (hover: none) {
            background-position: 0%;
        }
    }
}
