@use "../utils/vars";
@use "../utils/mixins";

.pizza-card {
    @include mixins.flex(space-between, center, column);
    row-gap: 20px;
    border-radius: 30px;
    background-color: #270c02;
    width: 297px;
    padding: 0 41px 23px 27px;

    @media (max-width: vars.$mediaMobile) {
        width: 182px;
        border-radius: 18px;
        row-gap: 12px;
        padding: 0 25px 14px 16px;
    }
}

.pizza-card__img-wrapper {
    margin-top: -56px;
    max-width: 159px;

    @media (max-width: vars.$mediaMobile) {
        margin-top: -35px;
        max-width: 98px;
    }
}

.pizza-card__img {
    object-fit: contain;
    width: 100%;
    aspect-ratio: 1;
    filter: drop-shadow(0px 0px 22px rgba(255, 136, 0, 0.18));

    @media (max-width: vars.$mediaMobile) {
        filter: drop-shadow(0px 0px 14px rgba(255, 136, 0, 0.18));
    }
}

.pizza-card__title {
    font-size: 25px;
    color: vars.$titleTextColor;
    font-weight: 500;
    text-align: center;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @media (max-width: vars.$mediaMobile) {
        font-size: 15px;
    }
}

.pizza-card__descr {
    font-size: 14px;
    max-height: 2.8em;
    line-height: 1.5;
    width: 100%;
    overflow: hidden;
    position: relative;

    &::after {
        content: "";
        @include mixins.position(absolute, -1);
        background-color: transparent;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            to bottom,
            rgba(39, 12, 2, 0) 50%,
            rgba(39, 12, 2, 0.5) 50%,
            rgba(39, 12, 2, 0.7) 100%
        );
        pointer-events: none;
    }

    @media (max-width: vars.$mediaMobile) {
        font-size: 9px;
    }
}

.pizza-card__sizes {
    @include mixins.flex(center, center);
    gap: 36px;

    @media (max-width: vars.$mediaMobile) {
        gap: 22px;
    }
}

.pizza-card__size {
    display: inline-block;
    width: 40px;
    height: 40px;
    aspect-ratio: 1;
    padding: 11.5px 0;
    line-height: 1;
    font-size: 14px;
    border: 1.5px solid #a3a3a3;
    background: linear-gradient(
        72deg,
        #ffa22800 0%,
        #ffa22800 50%,
        #ffa228 50%,
        #ff6432 100%
    );
    background-size: 210% 100%;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: all vars.$basicTransTime ease-in-out;

    &:hover,
    &:focus-visible {
        background-origin: border-box;
        background-position: 100%;
        color: vars.$titleTextColor;

        @media (hover: none) {
            background-origin: padding-box;
            background-position: 0%;
            color: vars.$mainTextColor;
        }
    }

    @media (max-width: vars.$mediaMobile) {
        line-height: 1;
        font-size: 9px;
        width: 25px;
        height: 25px;
        padding: 8px 0;
    }
}

.pizza-card__size--active {
    border-color: transparent;
    color: vars.$titleTextColor;
    background: linear-gradient(72deg, #ffa228 0%, #ff6432 100%);
    background-origin: border-box;
    cursor: auto;

    &:hover,
    &:focus-visible {
        @media (hover: none) {
            color: vars.$titleTextColor;
        }
    }
}

.pizza-card__ingridients {
    background: linear-gradient(to right, #210a01, #210a01),
        linear-gradient(72deg, #ff6432 0%, #ffa228 100%);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    box-shadow: 0px 7px 34px rgba(255, 106, 0, 0.06);
    padding: 10px 50px;
    line-height: 1;
    border: 1.5px solid transparent;

    @media (max-width: vars.$mediaMobile) {
        font-size: 10px;
        padding: 7px 30px;
    }

    span {
        @include mixins.textGrad(72deg, #ffa228 0%, #ff6432 100%);
        font-size: 16px;
        font-weight: 400;

        @media (max-width: vars.$mediaMobile) {
            font-size: 10px;
        }
    }
}

.pizza-card__price-wrapper {
    width: 80%;
    @include mixins.flex(space-between, baseline);
}

.pizza-card__price {
    font-size: 25px;
    color: vars.$titleTextColor;
    font-weight: 500;

    @media (max-width: vars.$mediaMobile) {
        font-size: 16px;
    }
}

.pizza-card__currency {
    font-size: 17px;
    color: vars.$titleTextColor;
    font-weight: 700;
    vertical-align: text-top;

    @media (max-width: vars.$mediaMobile) {
        font-size: 11px;
    }
}

.pizza-card__quantity-wrapper {
    @include mixins.flex(space-between, center);
    gap: 12px;

    @media (max-width: vars.$mediaMobile) {
        gap: 8px;
    }
}

.button-quantity {
    font-size: 17px;
    border: 1.5px solid transparent;
    width: 23px;
    line-height: 20px;
    vertical-align: middle;
    padding: 0;
    aspect-ratio: 1;
    color: vars.$titleTextColor;
    background: linear-gradient(72deg, #ffa228 0%, #ff6432 100%);
    background-origin: border-box;

    @media (max-width: vars.$mediaMobile) {
        border: 0.75px solid transparent;
        font-size: 11px;
        width: 14px;
        line-height: 13px;
    }
}

.button-quantity--minus {
    background: none;
    border: 2px solid #a3a3a3;
    border-radius: 100%;

    @media (max-width: vars.$mediaMobile) {
        border: 0.75px solid #a3a3a3;
    }
}

.pizza-card__quantity {
    font-size: 23px;

    @media (max-width: vars.$mediaMobile) {
        font-size: 13px;
        vertical-align: middle;
    }
}

.button-order {
    border: none;
    padding: 12px 50px;
    font-size: 18px;
    font-weight: 500;

    @media (max-width: vars.$mediaMobile) {
        font-size: 11px;
        padding: 8px 31px;
    }
}
