@font-face {
	font-family: TTWellingtons;
	font-display: swap;
	src: url("../assets/fonts/TTWellingtons-Bold.woff2") format(woff2), url("../assets/fonts/TTWellingtons-Bold.woff") format(woff), url("../assets/fonts/TTWellingtons-Bold.ttf") format(ttf);
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: TTWellingtons;
	font-display: swap;
	src: url("../assets/fonts/TTWellingtons-ExtraBold.woff2") format(woff2), url("../assets/fonts/TTWellingtons-ExtraBold.woff") format(woff), url("../assets/fonts/TTWellingtons-ExtraBold.ttf") format(ttf);
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: TTWellingtons;
	font-display: swap;
	src: url("../assets/fonts/TTWellingtons-Medium.woff2") format(woff2), url("../assets/fonts/TTWellingtons-Medium.woff") format(woff), url("../assets/fonts/TTWellingtons-Medium.ttf") format(ttf);
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: TTWellingtons;
	font-display: swap;
	src: url("../assets/fonts/TTWellingtons-Regular.woff2") format(woff2), url("../assets/fonts/TTWellingtons-Regular.woff") format(woff), url("../assets/fonts/TTWellingtons-Regular.ttf") format(ttf);
	font-weight: 400;
	font-style: normal;
}
