@font-face {
	font-family: AlexBrush;
	font-display: swap;
	src: url("../assets/fonts/AlexBrush-Regular.woff2") format(woff2), url("../assets/fonts/AlexBrush-Regular.woff") format(woff), url("../assets/fonts/AlexBrush-Regular.ttf") format(ttf);
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Muller;
	font-display: swap;
	src: url("../assets/fonts/Muller-Bold.woff2") format(woff2), url("../assets/fonts/Muller-Bold.woff") format(woff), url("../assets/fonts/Muller-Bold.ttf") format(ttf);
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Muller;
	font-display: swap;
	src: url("../assets/fonts/Muller-Extrabold.woff2") format(woff2), url("../assets/fonts/Muller-Extrabold.woff") format(woff), url("../assets/fonts/Muller-Extrabold.ttf") format(ttf);
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Muller;
	font-display: swap;
	src: url("../assets/fonts/Muller-Medium.woff2") format(woff2), url("../assets/fonts/Muller-Medium.woff") format(woff), url("../assets/fonts/Muller-Medium.ttf") format(ttf);
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Muller;
	font-display: swap;
	src: url("../assets/fonts/Muller-Regular.woff2") format(woff2), url("../assets/fonts/Muller-Regular.woff") format(woff), url("../assets/fonts/Muller-Regular.ttf") format(ttf);
	font-weight: 400;
	font-style: normal;
}
