// Text Colors
$mainTextColor: #a3a3a3;
$titleTextColor: #ffffff;
$paleTextColor: #515151;
$hoverLinkColor: #ff5924;

// Background Colors
$darkBgColor: #210a01;

// Gradient
$gradLightColor: #ffa229;
$gradDarkColor: #ff5924;

// Fonts
$mainFontFamily: "Muller", "Open Sans", sans-serif;
$decorFontFamily: "AlexBrush", "Open Sans", sans-serif;
$basicFontSize: 20px;

//  Container
$containerPadding: 24px;
$containerWidth: 1254px;

//  Transitions
$basicTransTime: 0.3s;

// Paddings & Margins
$mainPadding: 24px;
$mainMargin: 24px;

// Medias
$mediaPC: 1400px;
$mediaSmallPC: 1200px;
$mediaTablet: 992px;
$mediaSmallTablet: 768px;
$mediaMobile: 576px;
$mediaSmallMobile: 320px;
