@use "../utils/fonts";
@use "../utils/vars";

html {
    font-size: vars.$basicFontSize;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    background-color: vars.$darkBgColor;
    background: linear-gradient(
        225deg,
        #1e0c00 0%,
        #1f0700 31%,
        #170a00 69%,
        #1e0d00 100%
    );
    background-size: 100% 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-repeat: no-repeat;
    font-family: vars.$mainFontFamily;
    font-weight: 400;
    line-height: 1.1;
    color: vars.$mainTextColor;
}

.body__fixed {
    overflow: hidden;
    max-height: 100vh;
}

.container {
    max-width: vars.$containerWidth;
    padding: 0 vars.$containerPadding;
    margin: 0 auto;
}

.display--none {
    display: none;
}
